
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import './variables';
@import './mixins';




body {
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $darkviolet;
    color: #ffffff;
    font-family: $primaryfont;
    min-height: 100vh;
}


#main {
    padding-top: 20px;
}

h1 {
    color: #ffffff;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-weight: inital;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 30px;
}

h4 {
    text-align: center;
}


a {

}

a:hover {
    text-decoration: none;
    color: #ccb5e0;
}

a:focus, a:active {
    color: #ccb5e0;
}

a:visited {
    color: #ffffff;
}

.center {
    text-align: center;
}


#navi {
    background-color: #160c1e;
    text-align: right;
    height: 60px;

    .welcome-user {
        text-align: left;
        font-size: 13pt;
        line-height: 60px;
    }

    .nav-icons {
        line-height: 60px;

        .icon {
            color: #ffffff;
            font-size: 30pt;
        }
    
        a.icon {
            color: #ffffff;
            margin: 0 10px;
            text-decoration: none;
            cursor: pointer;
        }
    
        a.icon:hover, a.icon:focus, a.icon:active  {
            color: $turquoise; 
            text-decoration: none;
        }
    
    }
 }

 @media only screen and (max-width: 767px) { 

    #navi {
        height: 50px;
        .welcome-user {
            line-height: 50px;
            font-size: 13px;
        }

        .nav-icons {
            line-height: 50px;
            .icon {
                color: #ffffff;
                font-size: 20pt;
            }
        }
    }
 }

 .fadeIn {
    animation: fadeIn 1s linear;
 }
 .fadeOut {
    animation: fadeOut 1s linear;
 }

.login-outer {
    margin-top: 20vh;
}

@media only screen and (max-width: 767px) { 
    .login-outer {
        margin-top: 10vh;

        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

    }
}

 .start-container {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;

    .btn-login {
        border-radius: 50px;
        color: $darkviolet;
        font-weight: 700;
        background-color: #ffffff;
 

        &:hover {
            font-weight: 700;
            color: $turquoise;
            cursor: pointer;
        }
    }

   
 }

 .register-container {
    #btnRegister {
         display: block;
         margin: 0 auto;
     }

     .btn-login#btnLogin {
        display: block;
        margin-right: 0;
        margin-left: auto;
        background-color: transparent;
        color: #ffffff;

        &:hover {
            color: $turquoise;
        }
     }
 }


 .login-container {
    #btnLogin {
         display: block;
         margin: 0 auto;
     }

     .btn-login#btnRegister {
        display: block;
        margin-right: 0;
        margin-left: auto;
        background-color: transparent;
        color: #ffffff;

        &:hover {
            color: $turquoise;
        }
     }
 }


 .game-div {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: $darkviolet;
    margin-top: 20px;
    font-size: 15pt;
    margin-left: 4px;
    margin-right: 4px;
    height: 77px;

    .game-div-details {
        padding-top: 10px;
        padding-left: 20px;
    }

    .game-div-date {
        font-weight: 700;
        margin-right: 20px;
    }

    .game-div-clock {
        //padding-bottom: 10px;
    }

    .game-div-members {
        padding-bottom: 10px;
        padding-left: 20px;
        font-size: 13pt;
        opacity: 0.7;
    }

    .game-div-status {
        -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-topright: 20px;
        -moz-border-radius-bottomright: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .status-inactive {
        background-color: #bc2f52;
    }
    .status-active {
        background-color: #41a880;
    }
 }

.add-game-link {

    .add-game {
        margin-top: 60px;
        line-height:77px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;

        .add-game-text {
            font-weight: 700;
        }

        .add-game-plus {
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-border-top-right-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;
            -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: center;

            font-size: 30pt;
        }

        &:hover {
            color: #eaeaea;
        }

    }

   
}

.btn-game {
    border-radius: 50px;
    color: $darkviolet;
    font-weight: 700;
    background-color: #ffffff;
    display: block;
    margin-right: 0;
    margin-left: auto;


    &:hover {
        font-weight: 700;
        color: $turquoise;
        cursor: pointer;
    }
}

.btn-delete {
    color: $darkviolet;
    font-weight: 700;
    display: block;
    background-color: transparent;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: auto;
    color: #ffffff;



    &:hover {
        font-weight: 700;
        color: $turquoise;
        cursor: pointer;
    }
}

#reallyDelete {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(32, 15, 47, 0.97);
    text-align: center;
    z-index: 999;
    padding: 10px;

    .btn-close {
        background-color: transparent;
        color: #ffffff;
        font-size: 2em;
        display: block;
        margin-right: 0;
        margin-left: auto;

        &:hover {
            cursor: pointer;
            color: $turquoise;
        }
    }
   

    .text {
        padding-top: 16vh;
        .btn-game {
            margin: 20px auto;
        }
    
        h4 {
            font-family: 'Paytone One', sans-serif;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 40px;
        }
    }

  
}


.gamer-list {
    margin-top: 60px;
    margin-bottom: 60px;
    .agamer {
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        height: 50px;
        line-height: 50px;
    }
    .agamer-order {
        margin-right: 15px;
    }
}


.answer-list {
    margin-top: 60px;
    margin-bottom: 60px;
    .aanswer {
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 0 20px;
        height: auto;

        li {
            list-style-type: upper-latin;
            list-style-position: inside;
            padding: 20px;
            font-size: 2em;
            font-family: 'Paytone One', sans-serif;
        }


        .gamer-answer {
            border-bottom: 1px solid $darkviolet;
            padding: 10px;
            font-size: 1.2em;
        }
        .gamer-username {
            display: block;
            font-style: italic;
            color: $turquoise;
            padding: 5px;
            text-align: right;
        }

                @media only screen and (max-width: 767px) { 

                    .answer-letter {

                    }

                    li {
                        list-style-type: upper-latin;
                        list-style-position: inside;
                        padding: 0px;
                        font-size: 1.4em;
                        font-family: 'Paytone One', sans-serif;
                        text-align: center;
                    }
            
            
                    .gamer-answer {
                        border-bottom: 1px solid $darkviolet;
                        padding: 10px;

                        font-size: 1.2em;
                    }
                    .gamer-username {
                        display: block;
                        font-style: italic;
                        color: $turquoise;
                        padding: 4px;
                        text-align: right;
                    }
                }
        
    }





}



.answers {
    .add-answer {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        height: auto;
        font-size: 1.4em;
        border: 3px solid #ffffff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    #answer-sent {
        margin-bottom: 20px;
        color: $turquoise;
        display: none;
        font-style: italic;
    }
    #answer-not-sent {
        margin-bottom: 20px;
        color: $pink;
        display: none;
        font-style: italic;
    }
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px; 
    margin-right: 15px; 
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -6px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -6px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.9;
    background: $turquoise;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: #ffffff;
    left: 20px;

}
