<div class="container">
    <div class="row">
      <div class="col-12" id="main">
       
          <div class="login-outer">
              <h1>Nobody is perfect</h1>
              
                      <div class="col align-self-center login-container start-container">
                          <h2>Login</h2>
             
<form (ngSubmit)="onLoginEmail()">
                                  <div class="form-group">
                                      <label for="email">Email Addresse:</label>
                                      <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
                                  </div>
                                 
                                  <div class="form-group">
                                      <label for="password">Passwort:</label>
                                      <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
                                  </div>
                              
              
              
                              <button class="btn btn-login" id="btnLogin">Login</button>


</form>

<button routerLink="/register" class="btn btn-login" id="btnRegister">Registrieren</button>
          </div>


        


              
              </div>
              
      </div>
    </div>
  </div>