<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-12" id="main">
       
      <h2>Neues Spiel</h2>
      <h3>Füge Spieler hinzu</h3>


      <ul class="list-group gamer-list">
            <li class="list-group-item agamer" *ngFor="let user of allUsers$ | async as users; index as i">
                <div class="material-switch">
                    <input id="switch{{user.username}}" value="{{user.username}}" name="switchUsername" #auser (click)="isChecked(auser.value)" type="checkbox"/>
                    <label for="switch{{user.username}}" class="switch{{user.key}}"></label>
                </div>
                {{user.username}} {{ i }}
            </li>
    </ul>
    


    <button class="btn btn-game"><fa name="arrow-circle-right"></fa> Füge Spieler hinzu</button>

</div>
</div>
</div>

