<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-12" id="main">
       
      <h2>Neues Spiel</h2>
      <h3>Füge Spieler hinzu</h3>


      <ul class="list-group gamer-list">
            <li class="list-group-item agamer" *ngFor="let user of allUsers | async">
                <div class="material-switch">
                    <input id="{{user.username}}" value="{{user.username}}" name="switchUsername" #auser (click)="isChecked(auser.value)" type="checkbox"/>
                    <label for="{{user.username}}" class="{{user.key}}"></label>
                </div>
                {{user.username}}
            </li>
    </ul>
    


    <button class="btn btn-game" (click)="addNewGame()"><fa name="arrow-circle-right"></fa> Starte das Spiel!</button>

</div>
</div>
</div>

