<div class="container-fluid">
  <div class="row" id="navi">
    <div class="col-3 col-md-2"  *ngIf="authService.currentUser" id="display-username">     
<div class="welcome-user">Hallo, <b>{{ authService.getUserName }}</b></div>
</div>
<div class="col-9 col-md-10 nav-icons" >

        <a routerLink="/home" class="icon"><fa name="home"></fa></a>
        <a routerLink="/settings" class="icon"><fa name="cog"></fa></a>
        <a class="icon" (click)="logout()"><fa name="sign-out"></fa></a>
      

      </div>
  </div>
</div>