<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-12" id="main">
            <div class="answers">
<h2>Hallo, MitspielerIn!</h2>
              <h3>Füge eine Antwort hinzu</h3>

           
              <form (ngSubmit)="addAnswer()">
                <textarea rows="4" name="answer" id="answer-input" class="add-answer" required [(ngModel)]="answer"></textarea>
                <div id="answer-sent">Antwort abgesendet!</div>
                <div id="answer-not-sent">Fehler beim Absenden der Antwort!</div>
                <button class="btn btn-game"><fa name="arrow-circle-right"></fa>Antwort abschicken</button>
            </form>


</div>
</div>
</div>
</div>

