<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-12" id="main">
       
      <h2>Home</h2>

      <h3>Meine Spiele</h3>

      <div class="game-div row">
        <div class="col-10">
          <div class="row game-div-details">
              <span class="game-div-date">31.10.2017</span>
              <span class="game-div-clock">13:00</span>
          </div>
          <div class="row game-div-members">
            Mitspieler
        </div>
        </div>

        <div class="col-2 game-div-status status-active">
 
        </div>

      </div> 
<a routerLink="/neues-spiel" class="add-game-link">
      <div class="game-div add-game row">
        <div class="col-10">
          <span class="add-game-text">Starte ein neues Spiel!</span>
        </div>

        <div class="col-2 add-game-plus">
          <fa name="plus-circle"></fa>
        </div>

      </div> 
</a>




      </div>
    </div>
  </div>



