<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-12" id="main">
       
      <h2>Sitzreihenfolge</h2>
      <h3>Ordne die Mitspielenden nach der Sitzreihenfolge</h3>

      <ul class="list-group gamer-list">
          <li class="list-group-item agamer">
              <select class="agamer-order">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              Julia
          </li>
          <li class="list-group-item agamer">
              <select class="agamer-order">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              Kathrin
          </li>
          <li class="list-group-item agamer">
              <select class="agamer-order">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              Theresa
          </li>

        
     </ul>


      

      <button routerLink="/seating-order" class="btn btn-game"><fa name="arrow-circle-right"></fa>Weiter</button>

      
  </div>
  </div>
  </div>





