<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-12" id="main">
       
      <h2>Sitzreihenfolge</h2>
      <h3>Ordne die Mitspielenden nach der Sitzreihenfolge</h3>

      <ul class="list-group gamer-list">
          <li class="list-group-item agamer">
              Julia
          </li>
          <li class="list-group-item agamer">
              Julia
          </li>
          <li class="list-group-item agamer">
              Julia
          </li>

        
     </ul>


      

      <button routerLink="/seating-order" class="btn btn-game"><fa name="arrow-circle-right"></fa>Weiter</button>



       
      
  </div>
  </div>
  </div>





